# <center>Universidad Politécnica Salesiana</center>
**Estudiante**: Adriana Castillo

**Materia**: Simulación

**Docente**: Ing. Diego Quisi

## Generar dos números pseudoaleatorios (los lados), se deberá utilizar dos librerías diferentes que generen números (1-6) y generar una tabla con los resultados obtenidos (suma - frecuencia - probabilidad).

## Librería random

**Tabla con 100 iteraciones**

In [496]:
import pandas as pd
import numpy as np
from random import randint
valores = {2:0, 3:0, 4:0, 5:0, 6:0, 7:0, 8:0, 9:0, 10:0, 11:0, 12:0}
frecuencia=[]
suma=[ 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 ]
probabilidad=[]
def frandint(repeticiones):
    #print(valores)
    for s in range(repeticiones):
        res= random.randint(1, 6) + random.randint(1, 6)
        for v in valores:
            if res==v:
                #print('Suma: ',res)
                valores[v]=valores[v]+1
            
    for f in valores:
        frecuencia.append(valores[f])
        probabilidad.append(valores[f]/repeticiones)
        
def fnumpy(repeticiones):
    #print(valores)
    for s in range(repeticiones):
        res= np.random.randint(low=1,high=7)  + np.random.randint(low=1,high=7) 
        for v in valores:
            if res==v:
                #print('Suma: ',res)
                valores[v]=valores[v]+1
            
    for f in valores:
        frecuencia.append(valores[f])
        probabilidad.append(valores[f]/repeticiones)
frandint(100)
tabla1=pd.DataFrame({"Suma ":suma, "Frecuencia": frecuencia,"Probabilidad ":probabilidad })
tabla1

    Suma   Frecuencia  Probabilidad
0       2           4           0.04
1       3           3           0.03
2       4           7           0.07
3       5           9           0.09
4       6          12           0.12
5       7          17           0.17
6       8          15           0.15
7       9          17           0.17
8      10          11           0.11
9      11           3           0.03
10     12           2           0.02

**Tabla con 1.000 iteraciones**

In [500]:
valores = {2:0, 3:0, 4:0, 5:0, 6:0, 7:0, 8:0, 9:0, 10:0, 11:0, 12:0}
frecuencia=[]
probabilidad=[]
frandint(1000)
tabla2=pd.DataFrame({"Suma ":suma, "Frecuencia": frecuencia,"Probabilidad ":probabilidad })
tabla2

    Suma   Frecuencia  Probabilidad
0       2          26          0.026
1       3          59          0.059
2       4          84          0.084
3       5         105          0.105
4       6         134          0.134
5       7         166          0.166
6       8         138          0.138
7       9         102          0.102
8      10          90          0.090
9      11          69          0.069
10     12          27          0.027

**Tabla con 10.000 iteraciones**

In [501]:
valores = {2:0, 3:0, 4:0, 5:0, 6:0, 7:0, 8:0, 9:0, 10:0, 11:0, 12:0}
frecuencia=[]
probabilidad=[]
frandint(10000)
tabla3=pd.DataFrame({"Suma ":suma, "Frecuencia": frecuencia,"Probabilidad ":probabilidad })
tabla3

    Suma   Frecuencia  Probabilidad
0       2         260         0.0260
1       3         582         0.0582
2       4         852         0.0852
3       5        1093         0.1093
4       6        1420         0.1420
5       7        1700         0.1700
6       8        1383         0.1383
7       9        1098         0.1098
8      10         820         0.0820
9      11         533         0.0533
10     12         259         0.0259

## Librería numpy

**Tabla con 100 iteraciones**

In [502]:
valores = {2:0, 3:0, 4:0, 5:0, 6:0, 7:0, 8:0, 9:0, 10:0, 11:0, 12:0}
frecuencia=[]
probabilidad=[]
fnumpy(100)
tabla4=pd.DataFrame({"Suma ":suma, "Frecuencia": frecuencia,"Probabilidad ":probabilidad })
tabla4

    Suma   Frecuencia  Probabilidad
0       2           2           0.02
1       3           5           0.05
2       4           6           0.06
3       5          18           0.18
4       6           8           0.08
5       7          10           0.10
6       8          14           0.14
7       9          10           0.10
8      10          14           0.14
9      11           9           0.09
10     12           4           0.04

**Tabla con 1.000 iteraciones**

In [503]:
valores = {2:0, 3:0, 4:0, 5:0, 6:0, 7:0, 8:0, 9:0, 10:0, 11:0, 12:0}
frecuencia=[]
probabilidad=[]
fnumpy(1000)
tabla5=pd.DataFrame({"Suma ":suma, "Frecuencia": frecuencia,"Probabilidad ":probabilidad })
tabla5

    Suma   Frecuencia  Probabilidad
0       2          27          0.027
1       3          58          0.058
2       4          87          0.087
3       5         112          0.112
4       6         158          0.158
5       7         141          0.141
6       8         122          0.122
7       9         128          0.128
8      10          76          0.076
9      11          61          0.061
10     12          30          0.030

**Tabla con 10.000 iteraciones**

In [504]:
valores = {2:0, 3:0, 4:0, 5:0, 6:0, 7:0, 8:0, 9:0, 10:0, 11:0, 12:0}
frecuencia=[]
probabilidad=[]
fnumpy(10000)
tabla6=pd.DataFrame({"Suma ":suma, "Frecuencia": frecuencia,"Probabilidad ":probabilidad })
tabla6

    Suma   Frecuencia  Probabilidad
0       2         307         0.0307
1       3         560         0.0560
2       4         806         0.0806
3       5        1125         0.1125
4       6        1378         0.1378
5       7        1699         0.1699
6       8        1345         0.1345
7       9        1150         0.1150
8      10         798         0.0798
9      11         564         0.0564
10     12         268         0.0268